.container {
    display: flex;
    flex-wrap: wrap;
    background-color: antiquewhite;
}

h1 {
    text-align: center;
}

h1 strong {
    font-size: 50px;
}

p {
    display: inline-block;
    padding: 3px 17px;
    margin-left: 150px;
    margin-right: 150px;
    font-size: 1.3em;
    background: rgba(0, 0, 0, 0.7);

}

h2 {
    display: inline-block;
    /* Adapte la largeur à celle du texte */
    font-size: 1.6em;
    padding: 3px 10px;
    /* Ajoute un espace intérieur autour du texte */
    margin-left: 150px;
    background: rgba(0, 0, 0, 0.7);
    /* Fond semi-transparent */
    color: white;
    /* Texte blanc pour le contraste */
    border-radius: 5px;
    /* Coins arrondis pour un style agréable */
    text-align: left;
    /* Alignement à gauche par défaut */

}

li {
    margin-left: 5px;
    padding-left: 25px;

}





.container ul {
    padding: 3px 10px;
    padding-left: 25px;
    margin-left: 190px;
    margin-right: 150px;
    font-size: 1.3em;
    font-style: italic;
    background: rgba(0, 0, 0, 0.7);
    line-height: 1.0;

}

li strong {
    font-style: normal;
}