<header>
    
    <div class="container">
        <nav class="navbar">
            <div class="menu-toggle" (click)="toggleMenu()">
                {{ isMenuOpen ? '✖' : '☰' }}
            </div>

            <ul class="nav-links" [class.active]="isMenuOpen">
                <li><a routerLink="/" (click)="pageAccueil()">Accueil</a></li>
                <li><a (click)="navigateOrRedirect('/profil')" [class.disabled-link]="!isLoggedIn">Profil</a></li>
                <li><a (click)="navigateOrRedirect('/garage')" [class.disabled-link]="!isLoggedIn">Garage</a></li>
                <li><a (click)="navigateOrRedirect('/chat')" [class.disabled-link]="!isLoggedIn">Fil d'actu</a></li>
                <li><a (click)="navigateOrRedirect('/contact')" [class.disabled-link]="!isLoggedIn">Contact</a></li>
                
                <li *ngIf="isLoggedIn">
                    <button (click)="logout()" class="logout-btn">Déconnexion</button>
                </li>
            </ul>

            <div class="logo">
                <a routerLink="/" (click)="pageAccueil()"><img src="logo_stickers.png" alt="Logo"></a>
            </div>

            <a *ngIf="!username" routerLink="/connexion" (click)="pageConnexion()" class="connexion-btn">Connexion</a>
            <span *ngIf="username" class="welcome-msg"> Bienvenue, {{ username }} </span>
        </nav>
    </div>

</header>