<header>
    
    <div class="container">
        <nav class="navbar">
            <div class="menu-toggle" (click)="toggleMenu()">
                {{ isMenuOpen ? '✖' : '☰' }}
            </div>

            <ul class="nav-links" [class.active]="isMenuOpen">
                <li><a routerLink="/accueil" (click)="pageAccueil()">Accueil</a></li>
                <li><a routerLink="/profil" (click)="pageProfil()">Profil</a></li>
                <li><a routerLink="/garage" (click)="pageGarage()">Garage</a></li>
                <li><a routerLink="/chat" (click)="pageChat()">Chat</a></li>
                <li><a routerLink="/contact" (click)="pageContact()">Contact</a></li>
            </ul>

            <div class="logo">
                <a routerLink="/accueil" (click)="pageAccueil()"><img src="logo_stickers.png" alt="Logo"></a>
            </div>

            <!-- <a routerLink="/connexion" (click)="pageConnexion()" class="connexion-btn">Connexion</a> -->

            <a *ngIf="!username" routerLink="/connexion" (click)="pageConnexion()" class="connexion-btn">Connexion</a>
            <span *ngIf="username" class="welcome-msg"> Bienvenue, {{ username }} </span>
        </nav>
    </div>

</header>