<header>
    
    <div class="container">
        <p> </p>
        <a href="/accueil"><img src="logo_stickers.png" alt="Logo"></a>
        <a href="/connexion" class="connexion-btn">Connexion</a>
    </div>

</header>

<!-- <nav class="navbar">
    <div class="menu-toggle" (click)="toggleMenu()">
        ☰
    </div>
    <ul class="nav-links" [class.active]="isMenuOpen">
        <li><a routerLink="/">Accueil</a></li>
        <li><a routerLink="/profil">Profil</a></li>
        <li><a routerLink="/garage">Garage</a></li>
        <li><a routerLink="/chat">Chat</a></li>
        <li><a routerLink="/contact">Contact</a></li>
    </ul>
    <div class="logo"><a href="/accueil"><img src="logo_stickers.png" alt="Logo"></a></div>
    <button class="connexion-btn"><a href="/connexion">Connexion</a></button>
</nav> -->