header {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 90%, rgba(70, 70, 70, 1) 100%), url('/Header.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    padding: 20px 100px;
    width: auto;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 150px;
}

a {
    text-decoration: none;
    color: #0B192C;
}

.connexion-btn {
    background: #FFA700; /* Orange foncé */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    text-decoration: none; /* Supprime le soulignement si c'est un lien */
}

.connexion-btn:hover {
    background: #FE6807; /* Rouge orangé */
    transform: scale(1.05);
}

