<app-header></app-header>

<main>
    <div class="back1">
        <h1>- - - Contact - - -</h1>
        <div class="Section-flex">
            <section class="Section-relative">
                <div class="container">
                    <div class="text-section">
                        
                    </div>
                </div>
            </section>

            <aside class="qr-container">
                <h2>Mon QR Code</h2>
                <p>Scannez le QR code ci-dessous pour accéder à votre profil.</p>

            </aside>
        </div>
    </div>
</main>

<app-footer></app-footer>